#playButtonContainer {
  display: flex;
  position: absolute;
  
  top: 75vh;
  width: 100vw;
  height: 10vw;
  align-items: center;
  justify-content: center;
}


.hitButton,
.standButton,
.dubbleButton,
.splitButton,
.surrenderButton {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  /*font-size: 1.2em;*/
}

.hitButton {
  top: 60%; /* (830.317 / 859.2) * 100 */
  left: 46%; /* (934.35 / 2015.2) * 100 */
  border: 1px solid #a93a3a;
  background-color: #be4444;
}



.hitButton:hover {
  background-color: #9a1f1f;
}

.standButton {
  top: 60%;
  left: 54%; /* (1096.83 / 2015.2) * 100 */
  border: 1px solid #717dc4;
  background-color: #3f57de;
  
}

.standButton:hover {
  background-color: #3f429f;
}

.dubbleButton {
  top: 30%; /* (787.35 / 859.2) * 100 */
  left: 40%; /* (812.467 / 2015.2) * 100 */
  border: 1px solid #63b167;
  background-color: #56c667;
}

.dubbleButton:hover {
  background-color: #4d9a58;
}

.splitButton {
  top: 30%;
  left: 60%; /* (1218.72 / 2015.2) * 100 */
  border: 1px solid #bbd17d;
  background-color: #e5d955;
}

.splitButton:hover {
  background-color: #a9a71d;
}

.surrenderButton {
  top: 20%; /* (770.167 / 859.2) * 100 */
  left: 50%; /* (1015.6 / 2015.2) * 100 */
  width: 7vw;
  height: 1.8vw;
  font-size: 1.2vw;
  border-radius: 1em;
  border: 1px solid #76c6aa;
  background-color: #4b96d8;
}

.surrenderButton:hover {
  background-color: #59c7d6;
}



.dealer-container {
  position: absolute;

  left:51%;
  /* (1015.6 / 2015.2) * 100 */
  top:2%;
  transform: translateX(-50%) rotate(180deg);
  justify-content: center;
  
  display: flex;
  height: 20%;
}


.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.popup-content {
  position: absolute;
  
  
  
  padding: 4vw 5vw; /* Consider using vw/vh for padding for more responsiveness */
  background-color: rgba(236, 117, 77, 0.8);
  border-radius: 15%;
  box-shadow: 0 3em 6em rgba(0, 0, 0, 0.6);
}

#goButton {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 6em; /* Keeping as 
  percentage of parent */
  height: 2.5em;
  top: 55%; /* Positioning adjusted */
  padding: 0.0vw;
  text-wrap: nowrap;
  font-size: 1vw; /* Consider using vw for scalable font size */
  cursor: pointer;
  background-color: rgb(219, 60, 60);
  text-align: center;
}

#handSelector {
  position: absolute;
  transform: translate(-50%, -50%);
  
  top: 84%;
  width: 9em; /* Width as percentage */
  border-radius: 0.4em;
  
  height: 2em;
  font-size: 0.9vw; /* Consider vw for scalable fonts */
  cursor: pointer;
  background-color: lightblue;
  
}

#result,
#buttonContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  /* Full width for container, adjusted for result as needed */
}

#buttonContainer {
  top: 25%;
  width: 100%;
  display: flex;
  box-shadow: 0 3em 6em rgba(0, 0, 0, 0.6);
  justify-content: center;

}

#result {
  text-align: center;
  top: -35%;
  left: 50%;
  white-space: nowrap;
  font-size: 1.8vw;
  /* Consider vw for scalability */
  color: rgb(224, 34, 34);
}

#extrasContainer {
  position: absolute;  transform: translate(-0%,-0%);
  left: 15vw;
  top: 5vh;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}
.extraItem {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  
}

#shoeButt, #runningButt, #trueButt {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
  
}


#bankReset {
  position: relative;
  left: -0%;
  width: 3vw;
  height: 2vw;
  font-size: 0.8vw;
  text-align: center;
}
#shoe, #runningCount, #trueCount, #bankroll{
  padding-left: 0.4vw;
  font-size: 1vw;
}

#shoeCounter {
  position: relative;
  transform: translate(-50%,-50%);
  left: 40%;
  top: 20%;
  height: 22vh;
  width:4vh;

  
  border: 0.8vh ridge black;
  
  border-color: black;
  background-color: blue;
}
#bar {
  position: relative;
  
  left: 0%;
  top: 0%;
  height: 0%;
  width: 100%;
  background-color:  rgb(108, 176, 199);
}

#barText {
  
  position: absolute;
  width: 250%;
  left: -180%; /* (500 / 2015.2) * 100 */
  top: -13.3%; /* (230 / 859.2) * 100 */
  font-size: 1.8vh;
}

#controlls {
  position: absolute;
  left:2.5%;
  top: 65.13%;
  font-size: 1vw;
}


#infoGuide {
  position: absolute;
  top: 110%;
  transform: translate(-50%,-50%);
  left: 50%;
  font-size: 1vw;
}



:root {
  --move-to-x: 69%;
  /* Default values */
  --move-to-y: 10%;
}

#movingEntity {
  width: 6.5%;

  transform: rotate(90deg);
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes moveAndDisappear {
  0% {
    top: 23.28%;
    /* (200 / 859.2) * 100 */
    left: 64.5%;
    /* (1300 / 2015.2) * 100 */
    opacity: 1;
  }

  100% {
    /* Dynamically adjusted via CSS variables */
    top: var(--move-to-y);
    /* Adjusted through JavaScript */
    left: var(--move-to-x);
    /* Adjusted through JavaScript */
    opacity: 0;
  }
}

@keyframes cardMove {
  0% {
    /* Initial state can optionally be defined here */
  }

  100% {
    top: var(--move-to-y);
    /* Adjusted through JavaScript */
    left: var(--move-to-x);
    /* Adjusted through JavaScript */
  }
}


#titleContainer {
  position: absolute;
  top:120%;
  
  width: 100%;
  height: 10vh;
}
#gridText {
  position: absolute;
  left: 6%;
  font-size:3vw;
}

#deviation {
  position:absolute;
  left: 41%;
  font-size:3vw;
}
#betText {
  position: absolute;
  left: 70%;
  font-size: 3vw;
  white-space: nowrap;
}

#basicColumn {
  position: absolute;
  display: flex;
  left: 5%;
  top: 130%;
  height: 0%;
  max-width: 30%;
  flex-direction: column;
}
.dealerGrid {
  display:flex;
  flex-direction: column;
}

.dealersCard {
  position:relative;
  top: 56%;
  text-align: center;
  font-size: 3vh;  
}


.side {
  position: relative;
  transform: rotate(270deg);
  
  left: -54%;
  top:50%;
  text-align: center;
  justify-content: center;
    
  font-size: 3vh;  
}

#gridHard {
  
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  
  margin: auto;
  background-color: rgb(236, 233, 229);
}

#gridSoft {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  
  margin: auto;
  background-color: rgb(236, 233, 229);
}


#gridPair {

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: auto;
  background-color: rgb(236, 233, 229);
}

#gridSurrender {
  
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: auto;
  background-color: rgb(236, 233, 229);

}

#gridKey {
  padding-top: 3vw;
  font-size: 1vw;
    
}



#deviationColumn {
  position: absolute;
  left: 36%;
  top: 140%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 30%;
  justify-content: space-between;
  
}


.boxColumn {
  display: flex;
  flex-direction: column;
  
}

.title {
  font-size: 1vw;
  padding-top: 1.5vw;;
}




.gridDeviation {
  left: 34.74%;
  top: 139.67%;
  display: grid;
  width: 33%;
  height: 98%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  margin: 1% auto;
}


.box {
  background-color: rgb(236, 233, 229);

  height: 20vh;
  clip: auto;
  font-size: 2vh;
  width: 14vw;
  padding: 3.3% 3%;
  border: 1px solid #ccc;
  text-align: start;
  cursor: text;
  white-space: wrap;
  overflow-y:hidden;
  
  overflow-x:wrap;
}
.box:focus {
  overflow-y: scroll;
}


#explainDev {
  font-size: 1vw;
}


.cell {
  padding: 0vw 0vw;
  width: 2.4vw;
  height: 3vh;
  border: 1px solid #000000;
  text-align: center;
  cursor: text;
  font-size: 2vh;
  white-space: nowrap;
}








#betGrid {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box2 {
  background-color: rgb(236, 233, 229);
  width: 2.4vw;
  height: 3vh;
  font-size: 2vh;
  padding: 0.1vw;
  border: 1px solid #221717;
  text-align: center;
  cursor: text;
}

.betSpreadContainer {
  position: absolute;
  left: 75%;
  top: 140%;
  display: flex;
  flex-direction: column;
  width: 8%;

}
.betTitles {
  position: relative;
  left:4%;
  height: 2.2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#spreadText1 {
  font-size: 1vw;
  
  white-space: nowrap;
}

#spreadText2 {
  font-size: 1vw;
  white-space: nowrap;

}

#spreadText3 {
  
  position: relative;
  left: -5%;
  white-space: nowrap;

  font-size: 1vw;
}

#betUpdate {
  position: relative;
  
  height: 1.6vw;
  
  width: 100%;
  font-size: 0.8vw;
  padding: 0vw 0vw;
}


#failMargin {
  position: relative;
  
  top: 3vw;
  background-color: rgb(236, 233, 229);
  border: 1px solid #000000;
  width: 4vw;
  height: 1.5vw;
  text-align: center;
  
  cursor: text;
  font-size: 1vw;
}
#failMarginText {
  position: relative;
  left: 60%;
  top: -1vw;
  font-size: 0.8vw;
  width: 100%;
  white-space: wrap;
}


.toggleRow {
  display: flex;
  flex-direction: row;
  width: 200%;
}

#toggle1, #toggle3,#toggle2 {
  padding-left: 1vw;
  font-size: 1vw;
  white-space: nowrap;
}





#decksInShoe {
  position: relative;
  
  top: 0.75vw;
  background-color: rgb(236, 233, 229);
  border: 1px solid #000000;
  width: 4vw;
  height: 1.5vw;
  text-align: center;
  
  cursor: text;
  font-size: 1vw;
}

#deckPen {
  position: relative;
  
  top: 0.75vw;
  background-color: rgb(236, 233, 229);
  border: 1px solid #000000;
  width: 4vw;
  height: 1.5vw;
  text-align: center;
  
  cursor: text;
  font-size: 1vw;
}

#setBankroll {
  position: relative;
  top: 0.75vw;
  background-color: rgb(236, 233, 229);
  border: 1px solid #000000;
  width: 4vw;
  height: 1.5vw;
  text-align: center;
  
  cursor: text;
  font-size: 1vw;
  
}

#speed {
  position: relative;
  
  top: 0.75vw;
  background-color: rgb(236, 233, 229);
  border: 1px solid #000000;
  width: 4vw;
  height: 1.5vw;
  text-align: center;
  
  cursor: text;
  font-size: 1vw;
}
.discText {
  position: relative;
  left: 1vw;
  top: -0vw;
  font-size: 1vw;
  white-space: nowrap;
  
}

#stratColumn {
  position: relative;
  left: -50%;
  display: flex;
  flex-direction: column;
  width: 200%;
  
}

#stratText {
  
  
  text-align: center;
  font-size: 1vw;
  white-space: nowrap;
}



#stratContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
  left: 4vw;
  /* Centering might need review for responsiveness */
  background-color: rgb(236, 233, 229);
  
}




#stratText {
  top: 250.26%;
  /* (2150 / 859.2) * 100 */
}


#bottomBorder {
  left:0%;
  position: absolute;
  width: 100%;
  height: 15vh;
  top: 350.29%;
  background-color: rgb(94, 103, 170);
  
}

#infoText {
  position: relative;
  top: 0%;
  left: 5%;
  font-size: 0.9vw;
}

#gitLink {
  position: relative;
  top: 10%;
  left: 5%;
  font-size: 0.9vw;
}

#mail {
  position: relative;
  left: 5%;
  top: 0%;
  font-size: 0.9vw;
}




#saveChanges {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 45%;
  top: 123%;
  cursor: pointer;
  font-size: 0.65vw;
  width: 5.5vw;

}
#discardChanges {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 55%;
  top: 123%;
  cursor: pointer;
  font-size: 0.65vw;
  width: 5.5vw;

}

#buttonS17 {
  position: absolute;
  transform: translate(-50%,-50%);
  height: 2vw;
  width: 5vw;
  font-size: 0.8vw;
  background-color:rgb(174, 59, 192);
  cursor: pointer;
  left: 47%;
  top: 117%;
}
#buttonDAS {
  position: absolute;
  transform: translate(-50%,-50%);
  background-color:rgb(174, 59, 192);
  height: 2vw;
  width: 5vw;
  left: 53%;
  top: 117%;
  cursor: pointer;

  font-size: 0.8vw;
}


body {
  overflow-x: hidden ;
  background-color: rgb(108, 176, 199);
}